*{
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

@media(max-width: 100px){

    body{
        
        display: grid;
        
    }
}

.galeria{
    grid: 100px / auto-flow 100px 50px;
    border: 5px solid black;
   
}

.fotoGaleria{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.fotoGaleria:hover {

    transform: translateY(-5px);
}