body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
  }

  
  header {
    background-color: rgb(223, 111, 70);
    color: white;
    padding: 20px 0;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .main-content {
    float: left;
    width: 70%;
    padding: 20px;
  }
  
  .sidebar {
    float: right;
    width: 30%;
    padding: 20px;
    background-color: rgb(145, 70, 43);
  }
  
  @media(max-width: 768px) {
    header {
      text-align: center;
    }
    
    .main-content, .sidebar {
      width: 100%;
      float: none;
    }
  }