.cabecalho{
    background-color: gray;
    color: white;
    padding: 15px;
}
.img_inicio{

    font-size:xx-large;
    padding: 100px;
    color: white;
    text-align: center;
    background-image: url(pizza.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}

.horario{
    text-align: center;
    background-color: gray;
    color: black;
    padding: 50px;
}

button {
    color: white;
    background-color: gray;
    justify-content: right;
    float: right;
    margin-right: 50px;
}