@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color:cornflowerblue;
    color: black;
}

header {
    background: black;
    border-radius: 20px;
    color:  palegreen;
    padding: 20px 0;
    text-align: center;
   
}

.introducao {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(197, 21, 21, 0.1);
}

.links-uteis {
    list-style: none;
}

.links-uteis li {
    margin-bottom: 20px;
}

.links-uteis a:link, .links-uteis a:visited {
    text-decoration: none;
    color: #007bff;
}

.links-uteis a:hover {
    text-decoration: underline;
}

#card1{
    position: absolute;
    border-radius: 20px;
    left: 1%;
    top: 320px;
    height: 100px;
    width: 20%;
    background-color: yellowgreen;
    text-align: center;

}

#card2{
    position: absolute;
    border-radius: 20px;
    left: 40%;
    top: 320px;
    height: 100px;
    width: 20%;
    background-color: cyan;
    text-align: center;

}

#card3{
    position: absolute;
    border-radius: 20px;
    left: 77%;
    top: 320px;
    height: 100px;
    width: 20%;
    background-color: red;
    text-align: center;

}

footer {

    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: blueviolet; /* cor de fundo do rodapé */
    color: #fff; /* cor do texto do rodapé */
    padding: 20px; /* preenchimento interno do rodapé */
    width: 100%;
    

}